<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/assets/css/header.css">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
    <form action="#">
        <input type="text" name="mot_cle">
        <select name="categorie" id="categorie">
            <option>
                <h1>Smartphone</h1>
            </option>
            <option>
                <h1>Vetement</h1>
            </option>
            <option>
                <h1>Chaussure</h1>
            </option>
            <option>
                <h1>Sac</h1>
            </option>
        </select>
        <button class="btn mt-3">Recherche</button>
    </form>
</div>
</body>
</html>