<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<?php echo base_url(); ?>/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/css/assets/login.css">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/assets/fontawesome-5/css/all.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<div class="wraper">
					<center>
						<div class="logo">
							<img src="<?php echo base_url(); ?>/assets/images/cercle_E.png"/>
						</div>
					</center>
					<center>
					<h2 class="title">E-change</h2>
				</center>
					<form action="#">
						<div class="content">
								<input type="text" name="firstname" id="firstname" placeholder="First name" required>
							<hr>
								<input type="text" name="lastname" id="lastname" placeholder="Last name" required>
                            <hr>
                                <input type="email" name="email" id="email" placeholder="Email" required>
                            <hr>
                                <input type="text" name="username" id="username" placeholder="Username" required>
                            <hr>
                                <input type="password" name="password" id="password" placeholder="Password" required>
						</div>
							<br>
							<button class="btn mt-3">Sign Up</button>
					</form>
					<!-- <div class="foot">
						<div class="footer"> -->
						<h4>Don't have an account?
							<strong class="f"><a href="inscription.html">Sign up</a></strong>
						</h4>
						<!-- </div> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>