.cv .form-container
{
	max-width: 900px;
	margin: 0 auto;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.cv form
{
	background-color: #ffffff;
	padding: 40px 60px;
	color: #505e6c;
} 
.cv h2
{
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 30px;
}
.cv form .form-control
{
	background: transparent;
	border: none;
	border-bottom: 1px solid #dfe7f1;
	height: 40px;
}