.row{
    margin-top: 30px;
}
.obj {
	margin: 0 auto;
	width: 80%;
	/* height: 800px; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px 2em;
  }
  img{
    width: 500px;
    height: 500px;
  }
  .obj2{
    margin: 0 auto;
	/* width: 30%; */
	/* height: 800px; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px 2em;
  }
  .propri{
    border: solid;
    width: 200px;
  }
