.header{
    height: 60px;
	width: 96%;
	margin-left: 2%;
    background-color: rgb(199, 149, 75);
}
.search{
	margin: 0 auto;
	width: 50%;
	height: 30px;
}

.header input{
    margin-top: 4px;
	border: none;
	height: 22px;
	background: white;
	outline: none;
}

.header .bt
{
	background-color:black;
	color: #fff;
	border-radius: 25px;
	letter-spacing: 1.3px; 
}